#experience_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    width: 100vw;
    padding-left: calc(25vw - 10rem);
    padding-right: calc(25vw - 10rem);
    box-sizing: border-box;
    margin-bottom: 5rem;
}
.experience_column {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

@media only screen and (max-width: 780px) {
    #experience_wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        flex-direction: column;
    }
}
.experience {
    /*background: #303030;*/
        background: #2e3a51;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.experience_title {
    padding: 1rem;
    font-size: 1.5em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.try_button {
    text-decoration: none;
    background: rgba(156, 74, 91, 1);
    padding: 0.4rem;
    margin: -0.4rem;
    width: 4rem;
    color: white !important;
    text-align: center;
    border-radius: 0.4rem;
    transition: background 0.2s;
}

.try_button:hover {
    background: rgb(170, 83, 100);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);

}

.experience_image {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.experience_image > img { 
    width: 100%;
    box-shadow: none;
    border-radius: 0;
}

.experience_spiel {
    padding: 1rem;
}

.experience_see_more {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

#title_cursor {
    animation: blinker 1s ease-in-out infinite;
    display:inline-block;
    transform: translate(-0.2em,0);
}
#title {
    display:flex;
    align-items:flex-start;
    justify-content:center;
    font-size: calc(min(3rem,9vw));
    margin-top:10vh;
    flex-direction: row;
}
@media only screen and (max-width: 740px) {
    #title {
            margin-top: 5vh;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
        }
}
#title_inner {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    min-width: 11em;
    margin-bottom: 2rem;
}
#title_text_wrapper {
    background: rgb(69, 92, 136);
        background: linear-gradient(51deg, rgba(69, 92, 136, 1) 0%, rgba(156, 74, 91, 1) 100%);
    border-radius:0.4em;
    padding: 0.4em;
    min-width: 5em;
    text-align:center;
}

#title_description {
    font-size: 1rem;
    text-align:center;
    width: calc(15vw + 10rem);
    margin-top: 1rem;
}

@keyframes blinker {
    20% { opacity: 1.0; }
    45% { opacity: 0; }
    50% { opacity: 0; }
    70% { opacity: 1.0; }
}
#contact_info {
    font-size:0.5em;
}
#contact_info > * > a  { display: flex; align-items: center; }
#contact_info > * > a > svg {margin-right: 0.4em}
#contact_info {background: #333333; border-radius: 0.5em;padding: 0.5em;}
#experience_header {
    font-size:2.5em;
    color: #EEEEEE;
    text-align: center;
    margin-bottom: 2rem;
}
